.StandardCard {
    width: 20rem; 
    padding: 0px; 
    margin: 10px; 
    background-color: #252526; 
    color:white; 
    border-radius: 10px;
}

.topnav {
    background-color: #2d2d2d; 
    padding-left: 15px;
}

body {
    background-color: #1e1e1e;
    color: white;
}

