@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(45deg, rgba(41,247,79,1) 0%, rgba(150,255,238,1) 50%, rgba(241,150,255,1) 100%);
}

a {
  display: inline-block;
}

#search {
  position: relative;
  width: 80%;
}

#heads {
  position: relative;
  width: 80%;
}

* {
  font-family: 'Roboto', sans-serif;
}
.button {
  position: relative;
  display:inline-block;
  margin-top: 10px;
  min-width: 0vh;
  border-radius: 6px;
  padding: 5px;
  background: black;
  color: white;
}
.button:hover {
  padding: 5px;
  color: black;
  background: white;
}

.button:hover p {
  color: black;
}


.button:hover a p {
  color: black;
}
.button a {
  color: white;
}
.button a:visited {
  color: white;
}

.c {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.ch {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}

.glass {
  border-radius: 20px;
  min-height: 80vh;
  width: 80%;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.9));
  backdrop-filter: blur(0.2rem);
}

.dashboard {
  position: relative;
  top: 0;
  left: 0;
  min-height: 80vh;
  width: 20%;
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.9));
  backdrop-filter: blur(0.2rem);
}

.mainpanel {
  min-height: 80vh;
  width: 75%;
  max-width: 75%;
  z-index: 6;
  top: 0;
  left: 25%;
  position: absolute;
  padding-top: 2%;
}

.mainpanel * {
  padding-left: 2%;
  padding-right: 2%;
  word-wrap: break-word;
}

.GeneratedText {
  background: white;
  min-height: 20%;
  height: 30%;
  width: 80%;
  left: 20%;
  background: solid white;
  border-radius: 10px;
  backdrop-filter: blur(0.5rem);
  margin-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
